html {
  font-family: 'helvetica', sans-serif; 
}

body {
  background-color: gray;
}

#example {
	width: 800;
	height: 800;
	color: blue;
}

#result {
	width: 500;
	height: 500;
	color: gray;
}

#pageJumps {
	font-family: furore;
	font-size: 22px;
	text-align: center;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
