html {
  font-family: 'helvetica', sans-serif; 
}

body {
  background-color: gray;
}

#chart1 {
	width: 800px;
	height: 800px;
	color: gray;
}

#chart2 {
	width: 500px;
	height: 500px;
	color: gray;
}

